---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Education">
  <h1>Education</h1>

  <div class="grid">

    <!-- MSc Card -->
    <div class="card">
      <h3>Master of Science (MSc) in Automation Engineering</h3>
      <p><strong>Università degli studi di Bologna</strong></p>
      <p>2022 – 2025</p>

      <p>
        Focused on advanced control theory, nonlinear systems,
        physical modeling, and large-scale dynamical systems.
      </p>

      <h4>Thesis</h4>
      <p>
        <em>“Modelling and Simulation for the ITER Gas Injection System”</em><br>
        Developed dynamic models and physics based control algorithms for the ITER Gas Injection System <a href="https://amslaurea.unibo.it/id/eprint/34929/1/thesis.pdf" target="_blank" title="Modelling and Simulation for the ITER Gas Injection System">(read here)</a>
      </p>

      <h4>Relevant Coursework</h4>
      <div>
        <span class="tag">Autonomous and Mobile Robotics</span>
        <span class="tag">Distributed Autonomus Systems</span>
        <span class="tag">Optimization and Machine Learning</span>
        <span class="tag">Image Processing and Computer Vision</span>
        <span class="tag">Hardware-Software Design of IoT Systems</span>
      </div>
    </div>
  </div>
  <div class="grid">
    <!-- BSc Card -->
    <div class="card">
      <h3>Bachelor of Science (BSc) in Automation Engineering</h3>
      <p><strong>Università degli studi di Bologna</strong></p>
      <p>2019 – 2022</p>

      <p>
        Built foundational knowledge in mathematics, control systems,
        physics, and engineering computation.
      </p>

      <h4>Thesis</h4>
      <p>
        <em>“Simulative Analysis of Robotic Grasping Exploiting the Syngrasp Toolbox”</em><br>
      </p>

    </div>

  </div>
  </div>
</Layout>
