---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Home">

  <div class="hero">

    <h1 class="hero-name">Dante Piotto</h1>

    <div class="hero-card">
      <p class="hero-role">
        Automation Engineer | Control Systems | Robotics
      </p>

      <p class="hero-desc">
        MSc in Automation Engineering focused on nonlinear control
        and multiphysics modelling.
      </p>

      <div class="hero-buttons">
        <a href="/projects" class="btn primary">View Projects</a>
        <a href="/experience" class="btn secondary">Experience</a>
      </div>
    </div>

  </div>


</Layout>
