---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Home">
    <h1>Dante Piotto</h1>
    <p>Automation Engineer | Control Systems | Robotics</p>

    <p>
        MSc in Automation Engineering focused on nonlinear control and multiphysics modelling.
    </p>
</Layout>
