---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Projects">
    <h1>Projects</h1>

    <div class="grid">

        <div class="card">
            <h3>Dynamic System Simulator</h3>
            <p>
            Developed C++ software to simulate dynamic systems featuring fixed and variable stepsize solvers.
            Built-in structure to handle discontinuous events and control algorithms.
            </p>
            <div>
                <span class="tag">C++</span>
                <span class="tag">ODE Solvers</span>
                <span class="tag">Non-linear systems</span>
                <span class="tag">Eigen</span>
            </div>
            <img src="/gifs/pendulum.gif" alt="cart-pendulum LQR stabilization">
        </div>
    </div>

    <div class="grid">

        <div class="card">
            <h3>Autonomous and Mobile Robotics</h3>
            <p>
            Developed software for a mobile robot to explore and navigate an uknown environment, and to perform a sanitazation of the whole
            environment
            </p>
            <div>
                <span class="tag">Mobile Robotics</span>
                <span class="tag">SLAM</span>
                <span class="tag">Autonomus Navigation</span>
                <span class="tag">Python</span>
                <span class="tag">C++</span>
                <span class="tag">ROS2</span>
                <span class="tag">Gazebo</span>
            </div>
            <img src="/gifs/sanitizerb.gif" alt="Robot sanification">
        </div>
    </div>

    <div class="grid">

        <div class="card">
            <h3>Optimal Control</h3>
            <p>
            Design and impementation of an optimal control law for a bycicle model of a car with static load transfer. Tasks involve dynamics discretization, trajectory generation through the Newton's method algorithm, and trajectory tracking vial LQR and MPC.
            </p>
            <div>
                <span class="tag">Optimal Control</span>
                <span class="tag">Non-linear Control</span>
                <span class="tag">Python</span>
            </div>
            <img src="/gifs/car_gif_mpc.gif" alt="Robot sanification">
        </div>
    </div>


    <div class="grid">

        <div class="card">
            <h3>Port-Hamiltonian Modelling and Control</h3>
            <p>
            Developed a simulation model and energy-tank control for a 3-link mechanism floating in space in 20Sim, with the purpose of the mechanism spinning.
            </p>
            <div>
                <span class="tag">Robotics</span>
                <span class="tag">Multiphysics Modelling</span>
                <span class="tag">Energy-based Control</span>
                <span class="tag">20Sim</span>
            </div>
            <img src="/gifs/floater.gif" alt="floating 3-link mechanism spinning">
        </div>
    </div>


    <div class="grid">

        <div class="card">
            <h3>Distributed Autonomous Systems</h3>
            <p>
            Developed and implemented distributed optimization and control algorithms in simulation to accomplish federated learning tasks and
            robot formation tracking tasks
            </p>
            <div>
                <span class="tag">Distributed Learning</span>
                <span class="tag">Distributed control</span>
                <span class="tag">Autonomous Robotics</span>
                <span class="tag">Python</span>
                <span class="tag">ROS2</span>
            </div>
            <img src="/gifs/das.gif" alt="Robot sanification">
        </div>
    </div>

    <div class="grid">

        <div class="card">
            <h3>Image Processing and Computer Vision</h3>
            <p>
            Developed an image processing and computer vision pipeline to identify defects in fruit in RGB and grayscale images
            </p>
            <div>
                <span class="tag">Image Processing</span>
                <span class="tag">Computer Vision</span>
                <span class="tag">Python</span>
                <span class="tag">OpenCV</span>
            </div>
            <img src="/imgs/ipcv.png" alt="Fruit defect identification">
        </div>
    </div>
</Layout>
