---
const { title } = Astro.props;
---

<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>{title}</title>
    <style is:global>
      :root {
        --bg: #0d1117;
        --card: #161b22;
        --border: #30363d;
        --accent: #58a6ff;
        --text: #c9d1d9;
        --bg: #1d2021;
        --card: #282828;
        --border: #504945;
        --accent: #98971a;
        --text: #ebdbb2;
      }

      body {
        font-family: system-ui, sans-serif;
        background: var(--bg);
        color: var(--text);
        margin: 0;
      }

      .container {
        max-width: 1300px;
        margin: 40px auto;
        padding: 0 20px;
      }

      nav {
        margin-bottom: 50px;
      }

      nav a {
        margin-right: 25px;
        text-decoration: none;
        color: var(--accent);
        font-weight: 500;
      }

      nav a:hover {
        opacity: 0.7;
      }

      h1 {
        margin-bottom: 10px;
      }

      h2 {
        margin-bottom: 30px;
        color: var(--accent);
      }

      .grid {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
        gap: 30px;
      }

      .card {
        background: var(--card);
        border: 1px solid var(--border);
        border-radius: 12px;
        padding: 20px;
        transition: transform 0.2s ease, box-shadow 0.2s ease;
        margin-bottom: 20px;
      }

      .card:hover {
        transform: translateY(-5px);
        box-shadow: 0 8px 25px rgba(0,0,0,0.3);
      }

      .card img {
        width: 100%;
        border-radius: 8px;
        margin-bottom: 15px;
        border: 1px solid var(--border);
      }

      .card h3 {
        margin: 0 0 10px 0;
      }

      .tag {
        display: inline-block;
        font-size: 0.8rem;
        padding: 4px 8px;
        margin-right: 4px;
        margin-bottom: 6px;
        border-radius: 6px;
        background: #98971a30;
        border: 1px solid var(--border);
        color: var(--accent)
      }

    </style>
  </head>
  <body>
    <div class="container">
      <nav>
        <a href="/">Home</a>
        <a href="/education">Education</a>
        <a href="/experience">Experience</a>
        <a href="/projects">Projects</a>
        <a href="/interests">Personal</a>
      </nav>

      <slot />
    </div>
  </body>
</html>
